<h1>docs comm</h1>

<p>はじめまして<%= @user.name %>さん</p>

<p>ようこそdocs commへ！下のリンクをクリックしてアカウントを有効化しよう！
</p>

<%= link_to "アクティベート", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
