   <div class="container">
    <div class="center jumbotron">
     <br>
     <h3>使い方</h3>
     <br>
     <div class="how">
        <div class="b"><img src="/assets/docs_comm_how1" alt="使い方1"　width="400" height="400"><p>まずgoogleformsで<br>アンケートを作成します</p></div>
        <div class="b"><img src="/assets/docs_comm_how2" alt="使い方2"　width="400" height="400"><p>作成が完了しましたら<br>右上の送信をクリックします</p></div>
        <div class="b"><img src="/assets/docs_comm_how3" alt="使い方3"　width="400" height="400"><p>送信方法からリンクを選択し<br>URLをコピーします
        <br>(※短縮URLは利用できませんので<br>ご注意ください）</p></div>
        <div class="b"><img src="/assets/docs_comm_how4" alt="使い方4"　width="400" height="400"><p>DOCSCOMMに戻り<br>先ほどのURLを貼り付けて完了です</p></div>
        <div class="b"><img src="/assets/docs_comm_how5" alt="使い方5"　width="400" height="400"><p>また右下の選択バーから<br>送信元の性別を絞り込むこともできます</p></div>
        <div class="b">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>それでは初めてみましょう</h3>
        <br>
        <%= link_to"ホームに戻る", root_path(current_user) %>
        </div>
     </div>
    </div>
   </div>