<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_area :content, class: "field",  placeholder: "https://docs.google.com/forms/d/e/1FAIpQLS..." %>
  </div>
  <div>
    <%= f.button :type => "submit", id: "icon-submit", class: "btn btn-primary" do %>
    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    <% end %>
  </div>

<% end %>

 