@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* universal */

body {
  padding-top: 60px;
  font-family: "ヒラギノ角ゴシック", "メイリオ";
  background-color: #f5f5f5;

}

.container {
    max-width: 600px;
  }

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid ;
  border-color:#d3d3d3 ;
}

.jumbotron p {
  margin-bottom: 0px;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


hr {
  border-top: 1px solid #ccc;
}

/* typography */

a {
  color: #555;
  font-weight:  bold;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

#reset {
  font-size: 30px;
  font-weight:  bold;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: center;
  font-family: "Futura","Arial";
  font-size: 50px;
  color: 000;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: 000;
    text-decoration: none;
  }
}

/* header */

header {
  height: 59px;

}
.navbar {
  margin-bottom: 0px;
}



#header-logo {
  float: left;
  font-family: "Futura","Arial";
  margin-right: 10px;
  font-size: 2em;
  color: #000000;
  padding-top: 9px;
  text-transform: uppercase;
  text-align : center ;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: 000000;
    text-decoration: none;
  }
}


.dropdown-menu > li > a {
    padding: 2px 20px;
    line-height: 2;
  }





.navbar-inverse {
    background-color: #fff;
    border-color:  #d3d3d3
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #d3d3d3;
    background-color: transparent;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  text-align: center;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}



/* forms */

#icon-submit{
  text-align : left ;
  border-radius : 30%;   
  position-top : 100px;
}

.btn-primary {
    color: #fff;
    font-size     : 15pt;
    background-color: #0095f6;
    border-color: #0095f6;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* User show */
aside {
  section {
    span {
      line-height: initial;
    }
     }
  }
  
  aside section {
    padding: 15px 0; /* 10pxだとformのボタンが見切れる */
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* password reset */

  
#else {
  border-top: 1px solid #ccc;
  height: 1em;
  text-align: center;
  overflow: visible;
}
#else::after {
  content: "または";
  font-weight:  bold;
  background: #fff;
  color: #555;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  top: -1em;
  padding: 0 1em;
}

/* pagenation */
.pagination > li > a,  {
    color: #0095f6;
}

.pagination > .active > a,  {
    background-color: #0095f6;
    border-color: #0095f6;
}

/* microposts */
.micropost_form{
  text-align: center;
  height: 150px;
}
.field{
  height: 50px;  /* 投稿フォームの高さを設定する */
  width: 500px;  /*投稿フォームの幅を設定する */
}

/* radio box*/
.sex-field{
  display: flex;
}




/* microposts */
.microposts {
  width: 590px;
  list-style: none;
  padding: 0;
  li {
    padding: 40px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.SNS{
  float:right;
}
.line-it-button{
  float:right;
}

/* User */
.UserImage{
  margin:  0 auto;   /* 中央寄せ */
}

