<div class="center jumbotron">
 <div class = "about">
     <h1 id = "logo"> DOCS COMM</h1>
     <h3>とは</h3>
     <p>アンケートに答えてもらいたい人達が<br>相互に回答し合う事を目的とした<br>コミュニティサイトです</p>
 </div>
 <br>
 
 <div class="a">
    <div class="b"><img src="/assets/docs_comm_image1" alt="イメージ画像1"　width="400" height="400"></div>
    <div class="b"><img src="/assets/docs_comm_image2" alt="イメージ画像2"　width="400" height="400"></div>
    <div class="b"><img src="/assets/docs_comm_image3" alt="イメージ画像3"　width="400" height="400"></div>
 </div>

</div>