<div class="center jumbotron">
 <div class = "about">
     <h1 id = "logo"> DOCS COMM</h1>
     <h3>とは</h3>
     <p>アンケートに答えてもらいたい人達が<br>相互に回答し合う事を目的とした<br>コミュニティサイトです</p>
 </div>
 <br>
 <div class = "image">
  <img src="/assets/docs_comm_image" alt="イメージ画像"　width="400" height="400">
 </div>
</div>