<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <nav>
  <%= link_to "docs comm", root_path, id: "header-logo" %>
  <% unless resets? %>
   <% if logged_in? %>
   <%= render 'layouts/header_right' %>
   <% else %>
   <%= render 'layouts/header_right2' %>
   <% end %>
  </nav>
  <% end %> 
  </div>
</header>
 