<!DOCTYPE html>
<html>
  <head>
    <title>docs_comm</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
      <%= yield %>
      
  <footer class="footer">
   <small>
    <p>© 2021 docs_comm from TomoyaNakabayashi</p>
   </small>
  </footer>

  </body>
</html>